[submodule "extern/sdl"]
	path = extern/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "extern/bgfx-cmake"]
	path = extern/bgfx-cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/assimp/assimp.git
